
/* global input fields */

.c-sf-block .field {
  padding-left: 7px;
  padding-right: 7px;
}

.c-sf-container .field+.field {
  padding-top: 8px!important;
}

.c-sf-container .field {
  padding-top: 8px;
}

.c-sf-block__content-inner {
  padding: 16px 14px!important;
}

.width-50 {
  width: 50%;
  display: list-item;
  float: left;
}

.width-33 {
  width: 33.333%;
  display: list-item;
  float: left;
}

.width-25 {
  width: 25%;
  display: list-item;
  float: left;
}

.common-block-fields {
  display: flex;
  width: 100%;
}

/* common block layout */

.common-block-wrapper {
  width: 100%;
  display: list-item;
  float: left;
}

.active-slider-value {
  margin: 0 auto;
  display: table;
  background: #fafafa;
  padding: 4px 11px;
  border: 1px solid #dedede;
  margin-top: -6px;
  border-radius: 5px;
}

.min-slider-value {
  float: left;
}

.max-slider-value {
  float: right;
  margin-top: -24px;
}

@media screen and (max-width: 800px) {
  .common-block-wrapper {
    width: 100%;
  }
}
