html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    color: #231f20;
    font-family: "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    line-height: 1.25;
}

a {
    background-color: transparent;
    color: #308282;
    text-decoration: underline;
}

a:hover {
    color: #ea1b10;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    font-weight: 400;
}

/* rich text */

.richtext-image.full-width {
    width: 100%;
    height: auto;
}
