{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ page.slug }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock extra_css %}

{% block content %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
{% for block in page.body %}
    {% include_block block with block_id=block.id %}
{% endfor %}

{% endblock content %}
